crudUserFlaskSqlite/.env
crudUserFlaskSqlite/.venv
crudUserFlaskSqlite/env/
crudUserFlaskSqlite/venv/
crudUserFlaskSqlite/ENV/
crudUserFlaskSqlite/env.bak/
crudUserFlaskSqlite/venv.bak/
crudUserFlaskSqlite/env
crudUserFlaskSqlAlchemy/.env
crudUserFlaskSqlAlchemy/.venv
crudUserFlaskSqlAlchemy/env/
crudUserFlaskSqlAlchemy/venv/
crudUserFlaskSqlAlchemy/ENV/
crudUserFlaskSqlAlchemy/env.bak/
crudUserFlaskSqlAlchemy/venv.bak/
crudUserFlaskSqlAlchemy/env